<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>InDriveTura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Mientras carga -->
  <div *ngIf="cargando" style="text-align: center; margin-top: 40px;">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando conductores...</p>
  </div>

  <!-- Si hay error -->
  <div *ngIf="error" style="text-align: center; margin-top: 40px;">
    <ion-icon name="alert-circle-outline" color="danger" size="large"></ion-icon>
    <p>{{ error }}</p>
  </div>

  <!-- Lista de perfiles -->
  <ion-list *ngIf="!cargando && !error">
    <ion-list-header>
      <ion-label>Selecciona tu perfil</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let perfil of perfiles" button>
      <ion-icon name="person-circle-outline" slot="start" color="primary"></ion-icon>
      <ion-label>{{ perfil.nombre_perfil }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>